<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${coffee-house.log-file:-coffee-house.log}</file>
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="akka" level="ERROR" />

    <logger name="com.lightbend.training.coffeehouse" level="warn" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>

    <logger name="akka.actor.RepointableActorRef" level="warn" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>

    <root level="warn">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

</configuration>
